# Node.js
node_modules/
npm-debug.log

# Go
bin/
*.exe
*.test
*.out

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Angular
dist/
.angular/

# React
build/
*.log

# General
.DS_Store
.env
.idea/
.vscode/
coverage/
